* {
    box-sizing: border-box;
}
body {
height: 390px;
background-color: black;
margin-top: 18em;
}
.container {
display: flex;
flex-wrap: nowrap;
background-color: black;
align-items: stretch;
}
.line1 {
margin-top: 50px;
height: 5px;
background-color: white;
border-radius: 50%;
flex: 0.1em;
animation-name: line1animation;
animation-duration: 16s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes line1animation {
0% {}
50% {transform: rotate(180deg);}
100% {transform: rotate(0deg);}
}
.line2 {
margin-top: 50px;
height: 5px;
background-color: white;
border-radius: 50%;
flex: 0.1em;
animation-name: line2animation;
animation-duration: 8s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
@keyframes line2animation {
from {}
to {transform: rotate(-180deg);}
}
@media only screen and (max-width: 1200px) {
body {
    margin-top: 15em;
    height: 0;
    }
}
@media only screen and (max-width: 992px) {
    body {
        margin-top: 12em;
        }
    }
@media only screen and (max-width: 768px) {
        body {
            margin-top: 9em;
            height: 0;
            }
        }
@media only screen and (max-width: 600px) {
            body {
                margin-top: 7em;
                height: 0;
                }
            }